/* Medium devices (tabletas, 768px y más) */
@media (max-width: 768px) {

  .main-info {
    display: inline;
    padding: 0;
    margin: 0;

  }

  .main-info-img {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .main-info-container {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #4618AC;
  }


}



@media (max-width: 983px) {


  .nav-container form {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .nav-responsive-buttons i {
    display: block;
  }

  .nav-responsive-searchbar {
    display: flex;
  }


  .nav-responsive-list {
     /* display: flex;*/
    flex-direction: column;
   
   
  }





}