* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.main-info {
    display: flex;
    width: 100%;
    background-color: #4618AC;
    justify-content: center;
}

.main-info-img {
    width: 30%;
    padding: 1rem;
}


.main-info-img img {
    width: 100%;
}

.main-info-container {
    width: 60%;
    padding: 1rem;

}

.main-info-container h3 {
    padding: 1rem;
    font-size: 30px;
    color: #fff;
}

.main-info-container p {
    padding: 1rem;
    font-size: 18px;
    color: #fff;

}

.main-info-container-button {
    text-align: center;
    padding: 3rem;
}

.main-info-container-button button{
    width: 300px;
    height: 40px;
}





